* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header,
footer {
    background-color: #6e0b0b;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #333333;
    padding: 10px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 450px;
    margin-right: 24px;
}

section {
    padding: 24px 0;
}

#correcao-footer {
    padding-bottom: 100px;
}

section h2 {
    margin-bottom: 16px;
}

.lista-jogos {
    flex-wrap: wrap;
}

.lista-jogos li {
    list-style: none;
    max-width: 24%;
    margin-bottom: 24px;
    margin-right: 5px;
    flex-wrap: wrap;
}

.lista-jogos li img {
    max-width: 100%;
}

.lista-jogos li h3 {
    margin: 12px 0;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #6e0b0b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #940c0c;
}

.price {
    margin: 16px 0;
    display: block;
}

footer {
    display: flex;
    position:inherit;
    bottom: 0;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

/* cel */
@media screen and (max-width: 640px) {

    .container-flex > div,
    .lista-jogos > li {
    flex-basis: 100%;
    max-width: 100%;
    }

    h1 {
        display: flex;
        justify-content: center;
    }
    
    .menu-hamburguer span {
        height: 2px;
        width: 100%;
        background-color: #fff;
        display: block;
        margin-bottom: 4px;
    }

    .container {
        max-width: 90%;
        display: block;
    }

    section {
        padding-top: 0px ;
    }
    
    header > .container {
        align-items: baseline;
        padding-bottom: 16px;
    }

    .container-flex {
        justify-content: space-around;
    }
    
    #sobre-a-loja img {
        max-width: 100%;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 25px;
    }
    
    .lista ul {
        display: block;
        column-gap: 1%;
        row-gap: 5%;
    }

    .container .container-flex {
        display: flex;
        max-width: 100%;
        align-items: center;
    }

    button {
        margin-bottom: 10px;
    }

    footer {
        font-size: 10px;
    }

    footer li img {
        height: 20px;
        padding-top: 6px;
    }
    }

/* tablet */
@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container{
        max-width: 90%;
    }

    .lista-jogos > li {
    flex-basis: 49.3%;
    max-width: 100%;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    .container-flex{
        flex-wrap: wrap;
    }

    #sobre-a-loja img {
        max-width: 100%; 
        width: 100%;
        margin-bottom: 20px;
    }

    button {
        margin-bottom: 10px;
    }

    footer {
        font-size: 12px;
    }
    
    footer li img {
        height: 20px;
        padding-top: 5px;
    }
    
    .menu-hamburguer span {
        height: 2px;
        width: 80%;
        background-color: #fff;
        display: block;
        margin-bottom: 4px;
        margin-left: 90%;
    }
}